.wpcf7 {

  .screen-reader-response {
    // color: #1cbb4d;

    li {
      display: none;
    }
  }

  .wpcf7-not-valid-tip {
    display: block;
    color: #ea4849;
  }
  .wpcf7-mail-sent-ok,
  .wpcf7-validation-errors {
    display: none;
  }
}
