.uk-navbar-toggle-icon {
  display: none;
}

.mobile-header {

  .mobile-logo {

    img {
      position: absolute;
      width: 110px;
      right: 20px;
      top: -1px;
    }
  }
}

/* ######### MEDIA QUERIES ############# */
@media screen and (max-width: 780px) {
  .uk-navbar-container.uk-margin.uk-navbar {
    display: none;
  }
  .mobile-header {
    background: #f8f8f8;
    height: 50px;
    border-bottom: 1px solid #ccc;
  }

  .uk-navbar-toggle-icon {
    display: block;
    padding: 15px;
    cursor: pointer;
  }

  .uk-offcanvas-bar {
    .uk-offcanvas-close {
      top: 15px;
      right: 15px;
    }
    ul {
      list-style: none;
      padding-left: 10px;
    }
    li {
      border-bottom: 1px solid #ddd;
      padding: 5px 0 5px 0;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
