@import 'partials/variables';
@import 'partials/header';
@import 'partials/navigation';
@import 'partials/home';
@import 'partials/contact';
@import 'partials/footer';

h1 {
  font-family: $main-font-1;
  color: $white;
  font-weight: 700;
  font-size: 4rem;
  ftransform: scale(1, 1.5);
  -webkit-transform: scale(1, 1.5); /* Safari and Chrome */
  -moz-transform: scale(1, 1.5); /* Firefox */
  -ms-transform: scale(1, 1.5); /* IE 9+ */
  -o-transform: scale(1, 1.5); /* Opera */
}

h3 {
  color: $white;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

/* OVERWRITES */
.uk-navbar-nav {

  li.uk-active {

    a {
      font-size: 30px;
      text-transform: lowercase;
      text-shadow: 2px 2px #333;
    }
  }
}
.uk-grid+.uk-grid {
  margin-top: 0;
  margin-left: 0;
}

.uk-grid > * {
  padding-left: 0;
}

.uk-grid {
  margin-left: 0;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: transparent;
}

.uk-navbar-nav > li.uk-active > a {
  color: $white;
}

.uk-input,
.uk-textarea {
  width: 80%;
  border: 0;
}

.uk-button-default {
  background: $white;
  text-transform: none;
  width: 80%;

  &:hover {
    color: $white;
  }
}

.uk-icon {
  color: #333;
}
